body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.img-selector{
	padding: 0px;
}

.form-signin{
	width:70%;
	margin: auto;
	padding: 5px;
}

.main-image{
	width: 70%;
	margin: auto;
}

#search-container{
	padding-top:6px;
	padding-bottom:6px;
}

#error-tag{
	display: none;
	margin-bottom:4px;
}

span.relation{
	border: solid #ddd 1px;
	padding: 4px;
	margin: 0 4px;
	height: 100%;
}

.loadinggif {
   background:
     url('http://www.hsi.com.hk/HSI-Net/pages/images/en/share/ajax-loader.gif')
     no-repeat
     right center;
}


#the-canvas{
	cursor: crosshair;
}
