body {
  padding-top: 50px;
}
.starter-template {
  padding: 30px 15px 15px 15px;
  text-align: center;
}

.img-selector{
	border-right: dotted 1px grey; 
	padding-right: 0 6px 0 0; 
}

.form-signin{
	width:70%;
	margin: auto;
	padding: 5px;
}

.main-image{
	width: 70%;
	margin: auto;
}

#search-container{
	padding-top:6px;
	padding-bottom:6px;
}

#error-tag{
	display: none;
	margin-bottom:4px;
}

span.relation{
	border: solid #ddd 1px;
	padding: 4px;
	margin: 4px 4px;
	height: 100%;
}

.loadinggif {
   background:
     url('http://www.hsi.com.hk/HSI-Net/pages/images/en/share/ajax-loader.gif')
     no-repeat
     right center;
}


#the-canvas{
	cursor: crosshair;
}

#info{
	background-color: black;
	color:white;
	max-height: 200px;
	height: 200px;
	padding:5px;
	overflow:scroll-y;
	font-family: "Courier new";
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

.over-image{
	width: 100%;
}

.btn-xxs {
	font-size: 12px;
	padding: 2px;
	margin-right: 4px;
}

/*.image-result{
	position:relative;
	border-right: dotted 1px grey; 
	padding-right: 5px; 
}*/

.centered{
	max-width: 100%; max-height: 100%; display: block; margin: 3px auto;
}

ul.list-inline li:last-child{
	border-right: none;
}


.remove-vpk{
	float: right;
}